* {
    box-sizing: border-box
}

html, body, #app, #app>div {
    height: 100%
  }

.App {
    background-color: rgb(59, 5, 97);
}

.logo {
    height: 250px;
    width: 250px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}