.Dashboard {
  margin-left: 60px;
  border: 10px;
  border-color: white;
  border-radius: 5px;
  margin-left: 5px;
  font-family: Roboto
}

header{
  display: flex;
  justify-content: space-between;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
}

.logoutButton {
  height: 50px;

}

.URIInput {
  margin-top: 70px;
}

#URIAddr {
  width: 500px;
  height: 30px;
}

#URIAddrButton {
  height:30px;
}

.logo {
  height: 200px;
  width: 200px;
  padding: 0px;
  display: grid;
}

.OAuth {
  height: 50px;
  width: 200px;
}