.Dashboard {
  margin-left: 60px;
  border: 10px;
  border-color: white;
  border-radius: 5px;
  margin-left: 5px;
  font-family: Roboto
  /* display: flex; */
  /* width: 1300px; */
  /* grid: 800px / 150px 700px 600px; */
  /* text-align: center; */
}

header{
  display: flex;
  justify-content: space-between;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
}

.logoutButton {
  height: 50px;

}

.URIInput {
  margin-top: 70px;
}

#URIAddr {
  width: 500px;
  height: 30px;
}

#URIAddrButton {
  height:30px;
}