@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.Header {
    display: flex;
    /* grid: 500px / 150px 700px 100px; */
    /* grid-gap: 100px; */
    justify-content: space-between;
    /* height: 200px; */
    font-family: Roboto;
    color: white;

}

.logo {
    height: 200px;
    width: 200px;
    padding: 0px;
    display: grid;
}

.OAuth {
    height: 50px;
    width: 200px;
}