@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.Landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  border-radius: 20px;
}

.logoLanding {
  height: 400px;
  width: 400px;
  box-sizing: border-box;
}

.OAuth {
  box-sizing: border-box;
}

.Tagline {
  font-family: Roboto;
  font-size: 40px;
  color: white;
  text-align: center;
  height: 10px;
  margin: 0px;
}

.graphql {
  height: 64px;
  width: 64px;
}

.logos {
  display: flex;
  margin-top: 20px;
}
