@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.Landing {
    height: 85vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
}

.logoLanding {
    margin-top: 10px;
    height:350px;
    width: 350px;
}

.uri-label {
    font-family: Roboto;
    font-weight: bold;
    margin-right: 5px;
}

.syntax-highlighter {
    height: 40vh;
    width: 95vh;
    border: 1px solid black;
    border-radius: 5px;
}