@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.OutputContainer {
    margin-left: 60px;
    border: 10px;
    border-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    outline: 1px solid white;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    background-color: rgb(77, 74, 78);
    margin-left: 5px;
    align-items: top;
    font-family: Roboto;
    width: 600px;
}

.OutputContainerHeader  {
    color: white;
    font-family: Roboto;
    display: grid;
}

.h2 {
    width: 150px;
    display: grid
}

.OutputWindow {
    flex-grow: 1;
    overflow: hidden;
}

.CodeMirror {
    height: 650px;
}