@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.OutputContainer {
    margin-left: 60px;
    border: 10px;
    border-color: white;
    color: white;
    display: grid;
    outline: 1px solid white;
    border-radius: 5px;
    padding: 25px 25px;
    background-color: rgb(77, 74, 78);
    margin-left: 5px;
    align-items: top;
    font-family: Roboto
    /* code from GitGood*/
    /* outline: 2px solid #1976D2;
    border-radius: 10px;
    padding: 25px 50px;
    width: 65%;
    background-color: white;
    margin-left: 10px;*/
}