@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.QueryContainer {
    border: 10px;
    border-color: white;
    outline: 1px solid white;
    border-radius: 5px;
    background-color: rgb(77, 74, 78);
    align-items: top;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.QueryContainerHeader  {
    color: white;
    font-family: Roboto;
    display: grid;
}

.QueryCard {
    color: white;
    font-family: Roboto;
    /* display: grid; */
}